name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # ------------------------------------------------------------------
  # JOB 1: BUILD & SAST (SonarQube)
  # ------------------------------------------------------------------
  build-and-sast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: echo
        run: echo "Cho nguoi yeu"